{% extends 'security/_security_page.html.twig' %}

{% set pageTitle = 'Inloggen' %}

{% block security_page_content %}
    <div class="col-12">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Je bent al ingelogd als {{ app.user.username }}, <a href="{{ path('app_logout') }}">Uitloggen</a>
                </div>
            {% endif %}

            <label for="inputEmail">E-mail</label>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

            <label for="inputPassword">Wachtwoord</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <a href="{{ path('app_security_forgot_password') }}">Wachtwoord vergeten?</a><br>
            <button class="btn btn-primary mb-20" type="submit">Inloggen</button>
        </form>
    </div>
{% endblock %}
