<article class="event-card mb-20">
    <a href="{{ route }}" class="card">
        <img src="{{ asset(image) }}" class="card-img-top" alt="{{ image_alt }}">
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ description }}</p>
        </div>
    </a>
</article>
